.container {
    width: 1000px;
    height: 100%;
    margin: 100px auto;
}

input {
    width: 100%;
    margin-top: 20px;
    display: block;
}

textarea {
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.block__button {
    display: flex;
    justify-content: space-between;
}

.btn__news {
    width: 200px;
}